<article class="post">
	<header class="post-header home">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
	</header>

	<div class="post-content">
		<div class="blurb">
		<table cellspacing="3" cellpadding="10" width="100%"></table>
		<tr>
			<td class="centered">
				<img src="/public/img/mypicture.JPG" width="170" height="200"></td>
			<td>
				<table style="width: 100%" cellpadding="2">
						
					 <tr>
						<td><h2>WEIGANG HE</h2></td>
					</tr>
					<tr>
						<td>Reseach Assistant </td>
					</tr>
					<tr>
						<td><a href="http://www.sei.ecnu.edu.cn/">Software Engineering Institute</a></td>
					</tr>
					<tr>
						<td><a href="http://english.ecnu.edu.cn/">East China Normal University (ECNU)</a>, China</td>
					</tr>
					<tr>
						<td>Visiting Scholar </td>
					</tr>
					<tr>
						<td><a href="https://www.antgroup.com/en/">Ant Group</a>, Hangzhou, China</td>
					</tr>
					
					<tr>
						<td><b>E-mail: </b>heweigang.hewg@antgroup (work)/geoffreyhe2@gmail.com (permanent)</td>
					</tr>	
					
	<tr>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
		{{ content }}
	</div>
</article>